#navbar {
  height: 168px;
  background: #212121;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

#navList {
  position: fixed;
  left: 150px;
}


#navList a {
  margin-right: 35px;
  color: #787878;
}

#navList a:hover {
  color: white;
  transition: .5s ease all;
}

#logo a {
  position: absolute;
  top: 0;
  font-size: 32px;
  padding: 10px 20px;
  background: #141414;
  margin-left: 35px;
  color: gold;
}

#queueButton {
  position: absolute;
  left: 46px;
  top: 105px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  width: 170px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: none;
  border-top: 1px solid gold;
  line-height: 34px;
  color: white;
  box-shadow: 0px 2px 0 #000, 2px 4px 6px #000;
}

#queueButton span {
  line-height: 50px;
}

#queueButton:hover {
  border: none;
  border-top: 1px solid white;
  transition: .5s ease all;
}

#modalContainer {
  position: absolute;
  top: 0;
  right: 35px;
  width: 270px;
  padding: 0 34px 0 34px;
  z-index: 300;
}

.disabled {
  pointer-events: none;
}
