body {
  overflow-x: hidden;
}

#vimeoBannerContainer {
  position: relative;
  margin-bottom: 180px;
}

#profileImg {
  position: absolute;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  width: 100%;
}

#username {
  color: white;
  position: absolute;
  top: 275px;
  left: 45px;
  font-weight: bold;
  font-size: 72px;
  text-transform: uppercase;
}

#bio {
  color: white;
  position: absolute;
  top: 375px;
  left: 47px;
  font-size: 20px;
  width: 480px;
}

@media (max-width: 577px) {
  #username {
    font-size: 42px;
  }

  #bio {
    top: 320px;
  }
}
